{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-6">
            <div class="alert alert-primary" role="alert">
                로그인 정보를 입력해주세요. </div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="로그인" class="float-left btn btn-outline-primary">
                <a href="{% url 'accounts:signup' %}" class="float-right btn btn-outline-primary">또는 계정 생성</a>
            </form>



    </div>
    <div class="col"></div>
</div>
{% endblock %}