{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-6">
            <div class="alert alert-primary" role="alert">
                로그인 정보를 입력해주세요. </div>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="login" class="btn btn-outline-primary">
            </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}